@import "tailwindcss";

:root {
  --bg-dark: #1c1635; /* header background */
  --primary: #f2d036; /* accent yellow */
  --muted: #9aa0a6;
  --card-bg: #ffffff;
  --page-bg: #ffffff;
  --text-dark: #0f1724;
  --text-light: #6b7280;
  --radius: 12px;
  --transition: 0.3s ease;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: var(--bg-dark);
  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
